$text-header-color: #00bd7e;

$text-color-white: #ffffff;
$bg-color-black: #181818;

$text-color-light: #181818;
$bg-color-light: #ebebeba3;
$bg-color-light-white: #ffffff;


$text-color-white-soft: #f8f8f8;
$text-color-white-mute: #f2f2f2;

$bg-color-black: #181818;
$bg-color-black-soft: #222222;
$bg-color-black-mute: #282828;

$button-bg-dark: #04AA6D;
$button-bg-dark-hover: #00704b;
